{%  extends 'accounts/base.html' %}
{% block content %}
{%  include 'accounts/status.html' %}


<br>


	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{ customer.email }}</p>
			<p>Phone: {{ customer.phone }}</p>
		</div>
	</div>






	
	<script>

	var prodcut_field = document.getElementById('id_note');
	prodcut_field.placeholder = "Note";
	var start_date = document.getElementById('id_start_date');
	start_date.placeholder = "Start Date";
	//start_date.size = "50px";
	var end_date = document.getElementById('id_end_date');
	end_date.placeholder = "End Date";

	var prodcut_select = document.getElementById('id_prodcut')[0]
	console.log(prodcut_select);
	prodcut_select.value = "selected";
	console.log(prodcut_select)
	prodcut_select.innerHTML = 'Product';

	var status_select = document.getElementById('id_status')[0]
	console.log(status_select)
	status_select.value = "selected";
	//console.log(status.select)
	status_select.innerHTML = 'Status';



	</script>

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Category</th>
					<th>Note</th>
					<th>Date Ordered</th>
					<th>Status</th>
				</tr>

				{% for order in orders %}
				<tr>
					<td>{{ order.prodcut.name }}</td>
					<td>{{ order.prodcut.category }}</td>
					<td>{{ order.note }}</td>
					<td>{{ order.date_created.date }}</td>
					<td>{{ order.status }}</td>

				</tr>

				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock content %}